body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #272727;
    color: #ffffff;
}

#webname{
    text-decoration: none;
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.auth-buttons .button {
    background-color: #ff4d4d;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.ranks {
    text-align: center;
}

.rank-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rank-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.rank-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.rank-card h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}
